// Lazyload
.fade-box .lazyload,
.fade-box .lazyloading {
    opacity: 0;
    transition: opacity 400ms;
    background: #000;
}

.fade-box img.lazyloaded {
    opacity: 1;
}

// Swiper
.slider.gallery-slider,
    .slider.review-slider {
    width: 100%;
    padding: 24px 48px;

    .swiper-button-prev,
    .swiper-button-next {
        background: #000;
        width: 36px;
        height: 60px;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

}

.slider.gallery-small-slider{
    overflow: hidden;
    // .swiper-button-prev,
    // .swiper-button-next {
    //     background: #fff;
    //     width: 36px;
    //     height: 60px;
    //     top: 42%;
    // }
}



// Theme

.hover-scale {
    transform: scale(1) !important;
    transition: transform ease $slow !important;
    &:hover {
        transform: scale(1.04) !important;
    }
}

.hover-up,
.btn {
    transform: translateY(0px) !important;
    transition: transform ease $slow !important;
    &:hover {
        transform: translateY(-8px) !important;
    }
}

a,
a:hover {
    text-decoration: none;
    transition: color ease $fast;
}

a.link.link-theme-light {
    color: #ffd0e6;

    &:hover {
        color: #fff;
    }

    &::after {
        color: #ffd0e6;
        content: " | ";
    }

    &:last-child::after {
        content: "";
    }
}

.btn {
    border-radius: 0;
    transition: background-color ease $fast;
}

.btn-theme-primary {
    background: $accent-color;
    color: $text-color-onaccent;

    &:hover {
        background: $accent-hover-color;
    }
}


// content
.header {
    background: #000000;
    height: 50vh;
    max-height: 1440px;
    overflow: hidden;
}

.header-nav {
    position: relative;
    z-index: 5;
    background: rgba($color: #000000, $alpha: 0.64);
}

.header-light .header-nav{
    background: #000 !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
    border: none;
    outline: none;
    box-shadow: none;
}

.bg-img-wrap {
    z-index: 0;
    height: 50vh;
    max-height: 1440px;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content {
    position: relative;
    z-index: 100;
}

.review-slider .avatar {
    width: 44px;
    height: 44px;
}

.brands {
    img {
        width: 80%;
        height: 80%;
        object-fit: contain;
        object-position: center;
    }
}

.promo{
    background: url(../images/casino/p.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@include media-breakpoint-up(lg){
    .header,
    .bg-img-wrap {

        height: 75vh;

    }
}