$theme-colors: (
  primary:       #f4007e,
  secondary:     #eee,
  success:       #7bb745,
  info:          $cyan,
  warning:       $yellow,
  danger:        $red,
  light:         #fff,
  dark:          #000,
);

$accent-color: #f4007e;
$accent-hover-color: #7bb745;
$text-color-onaccent: #fff;

$link-color: #f4007e;
$link-hover-color: #323232;

// $modal-bg: #090033;
// $nav-bg: #4c0079;

$fast: 0.2s;
$slow: 0.4s;

:root{
  --swiper-theme-color: #323232;
}